/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(font-awesome.css);
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 768px) {
    html,
    body {
      overflow-x: hidden; } }

.container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
  width: 500vw; }
  .container > div {
    min-width: 100vw;
    z-index: 10; }
  .container p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: .8em;
    line-height: 1.5em; }

#home {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    #home {
      width: 100%;
      height: auto; } }
  #home div:first-child {
    -webkit-flex: 1;
    flex: 1;
    padding: 50px; }
    @media (max-width: 768px) {
      #home div:first-child {
        padding: 20px; } }
  #home div:last-child {
    -webkit-flex: 2;
    flex: 2;
    margin-top: 50px; }
    @media (max-width: 768px) {
      #home div:last-child {
        margin-top: 0; } }
  @media (max-width: 768px) {
    #home {
      display: block; } }
  #home #logo {
    width: 100%;
    height: auto;
    max-width: 478px;
    margin-bottom: 24px; }
  #home p {
    max-width: 478px;
    margin-bottom: 46px; }
    #home p:last-child {
      margin-bottom: 0; }
  #home #menu {
    position: absolute;
    top: 0;
    right: 0;
    color: #95a5a6;
    cursor: pointer; }
    @media (min-width: 768px) {
      #home #menu {
        display: none; } }
    #home #menu span {
      display: block;
      width: 30px;
      height: 4px;
      background: #bdc3c7;
      margin-bottom: 6px; }
  #home ul {
    margin: 0;
    padding: 0; }
    @media (max-width: 768px) {
      #home ul {
        position: absolute;
        top: 0;
        width: 100%;
        background: white;
        display: none; } }
    #home ul li {
      height: 2.5em;
      line-height: 2.5em;
      padding-left: 1.25em;
      font-size: 48px;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 30px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      width: 100%; }
      #home ul li:nth-child(1) {
        background: #27ae60; }
      #home ul li:nth-child(2) {
        background: #f1c40f; }
      #home ul li:nth-child(3) {
        background: #e67e22; }
      #home ul li:nth-child(4) {
        background: #c0392b;
        margin-bottom: 0; }
      #home ul li:active {
        opacity: .6; }
      @media (min-width: 768px) {
        #home ul li:hover {
          transform: translateX(-50px);
          width: 100%; }
        #home ul li:after {
          content: '';
          float: right;
          margin-right: 35px;
          border-top: 25px solid transparent;
          border-left: 25px solid #3c3c3c;
          border-bottom: 25px solid transparent;
          margin-top: 0.75em; } }
      @media (max-width: 768px) {
        #home ul li {
          text-align: center;
          font-size: 2em;
          padding: 0;
          margin-bottom: 0;
          height: 25vh;
          line-height: 25vh; } }

.section h1 {
  color: white;
  text-transform: capitalize;
  font-size: 96px;
  margin: 0;
  display: inline-block;
  height: 100vh;
  padding-top: 50px;
  text-indent: 50px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: absolute; }
  .section h1 i {
    display: none; }
    @media (max-width: 768px) {
      .section h1 i {
        display: block;
        position: absolute;
        top: 15px;
        font-size: 16px;
        line-height: 2.25em;
        cursor: pointer; }
        .section h1 i:first-child {
          float: left;
          left: 15px; }
        .section h1 i:last-child {
          float: right;
          right: 15px; } }
  @media (max-width: 768px) {
    .section h1 {
      height: auto;
      font-size: 2em;
      width: 100vw;
      text-align: center;
      text-indent: 0;
      padding: 10px 0; } }
.section .content {
  position: absolute;
  top: 0;
  margin-left: 25vw;
  height: 70vh;
  overflow: hidden;
  z-index: -1; }
  .section .content h3 {
    margin: 0 0 0 1.5rem;
    color: #3c3c3c; }
  .section .content a:link, .section .content a:visited {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: 600; }
  .section .content a:active, .section .content a:hover {
    color: #a2a2a2; }
  .section .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1.5em; }
    .section .content ul li {
      margin-bottom: .5em;
      color: #3c3c3c;
      font-size: .8em;
      line-height: 1.75em;
      padding-right: 1em; }
      .section .content ul li:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #ccc;
        border-radius: 6px;
        margin-right: 6px;
        position: relative;
        top: -2px; }
  @media (max-width: 768px) {
    .section .content {
      margin-left: 0;
      margin-top: 10vh;
      height: auto;
      padding: 10px;
      width: 93vw; }
      .section .content i {
        cursor: pointer;
        background: white;
        color: #3c3c3c;
        padding: 10px;
        position: fixed;
        right: 10px;
        border-radius: 30px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        display: none;
        transition: all .3s ease-in-out; }
      .section .content #backToHome {
        bottom: 10px; }
      .section .content #backToTop {
        bottom: 50px; } }
.section p {
  color: #3c3c3c;
  display: inline-block;
  width: 100vw;
  padding: 0 25px; }
  @media (max-width: 768px) {
    .section p {
      padding: 0; } }
@media (min-width: 768px) {
  .section.col-1 h1 {
    width: 25vw; }
  .section.col-1 .content {
    margin-left: 25vw;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; }
  .section.col-1 p {
    width: 21vw; }
  .section.col-2 h1 {
    width: 50vw; }
  .section.col-2 .content {
    margin-left: 50vw;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; }
  .section.col-2 p {
    width: 20vw; }
  .section.col-3 h1 {
    width: 75vw; }
  .section.col-3 .content {
    margin-left: 75vw;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; }
  .section.col-3 p {
    width: 21vw; } }

#about h1 {
  background: #27ae60; }
#about h3 {
  padding-top: .6rem;
  margin-bottom: 1rem; }
#about .partners {
  margin: 0;
  padding: 0;
  list-style: none; }
  #about .partners li {
    display: block;
    margin-bottom: 32px;
    margin-left: 26px; }
    #about .partners li:before {
      display: none; }
    #about .partners li a {
      text-decoration: none; }
    #about .partners li img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: auto;
      height: 32px;
      opacity: .75; }
      #about .partners li img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1; }
  #about .partners .country {
    color: #ccc;
    font-size: .75rem;
    font-weight: 600;
    padding-left: 8px; }

#technology h1 {
  background: #f1c40f; }
#technology h3:nth-child(2) {
  border: 1px solid; }

#content h1 {
  background: #e67e22; }
#content .content {
  width: 100%; }

#news h1 {
  background: #c0392b; }
  #news h1 i:last-child {
    display: none; }

footer {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  background: #dadada;
  z-index: 10; }
  @media (max-width: 768px) {
    footer {
      display: none; } }
  footer > span {
    cursor: pointer; }
  footer .breadcrumb-container {
    display: inline-block; }
  footer .icon-home {
    margin: 20px 20px;
    position: relative;
    top: 12px;
    color: #909090; }
    footer .icon-home:hover {
      opacity: .5; }
  footer .icon-cursor {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 6px solid grey;
    position: absolute;
    left: 105px;
    top: 42px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white; }
  footer .icon-breadcrumb {
    background: white;
    position: relative;
    margin-top: 3em;
    display: inline-block;
    width: 48px;
    height: 12px;
    transition: all .3s ease-in-out;
    cursor: pointer; }
    footer .icon-breadcrumb.active {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
    footer .icon-breadcrumb.about {
      margin-left: 5px; }
      footer .icon-breadcrumb.about:hover, footer .icon-breadcrumb.about.active {
        background: #27ae60; }
    footer .icon-breadcrumb.technology:hover, footer .icon-breadcrumb.technology.active {
      background: #f1c40f; }
    footer .icon-breadcrumb.content:hover, footer .icon-breadcrumb.content.active {
      background: #e67e22; }
    footer .icon-breadcrumb.news {
      margin-right: 5px; }
      footer .icon-breadcrumb.news:hover, footer .icon-breadcrumb.news.active {
        background: #c0392b; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
